* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(219, 219, 219);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#container-master {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  margin: 5% 30%;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.container-meu-imc {
  display: flex;
  flex-direction: column;
}
.container-input-radio {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: #4b4b4b;
}
input[type="radio"] {
  accent-color: #4b4b4b;
}
input {
  outline: none;
}
.campo-input input {
  margin-top: 0.3rem;
}
.campo-input,
h1 {
  padding: 1rem;
  color: #4b4b4b;
}
.sexoHomem {
  color: #007c91;
}
.sexoMulher {
  color: blueviolet;
}
#peso,
#altura {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid;
  border-radius: 1rem;
}
#btnCalcular {
  width: 100%;
  padding: 0.6rem;
  font-size: 22px;
  margin: 15px 0px;
  border-radius: 1rem;
  border: none;
  background-color: #007c91;
  color: white;
  cursor: pointer;
}
#btnCalcular:hover {
  background-color: #005766;
}
#resultado {
  color: #4b4b4b;
}
.container-innerHTML {
  border-left: 4px solid #005766;
  border-width: 4px solid #005766;
  border-radius: 1rem;
}
.color-modal-h3 {
  color: black;
  font-size: 24px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}

.color-modal {
  color: #4b4b4b;
  font-size: 17px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

.color-h2-valorImc {
  color: #005766;
  display: flex;
  justify-content: center;
}
.color-h2-valorImc span {
  color: rgb(124, 9, 232);
}

@media (max-width: 768px) {
  #container-master {
    width: 70%;
    margin: 0 auto;   
}
}
